@{
    ViewData["Title"] = "Snake";
    IEnumerable<SnakeGameBackend.Models.Jugador> jugadores = ViewBag.Jugadores;
    int cantidadJugadores = ViewBag.CantidadJugadores;
    SnakeGameBackend.Models.Jugador jugadorActual = ViewBag.Jugador;
    string roomId = ViewBag.RoomId;
    int gridSize = (cantidadJugadores * 10);
    int largoObjetivo = 10;
    int minutosPartida = 1;
}

<h1>Juego de la Culebrita</h1>

<div id="main-container">
    <div id="game-board"></div>
    <div id="game-info"></div>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/play").build();

    let matriz = [];

    let partida = {
        cantidadJugadores: @cantidadJugadores,
        roomId: "@roomId"
    };

    let jugadores = [
    @foreach (var jugador in jugadores)
    {
        <text>
            {
                Id: "@jugador.Id",
                Nickname: "@jugador.Nickname",
                ColorSerpiente: "@jugador.ColorSerpiente",
                Direccion: "W",//W (arriba), A (izquierda), S (abajo), D (derecha))
            },
        </text>
    }
        ];


    function mostrarMatriz() {
        let board = document.getElementById("game-board");
        board.innerHTML = "";
        for (let i = 0; i < @gridSize; i++) {
            let row = document.createElement("div");
            row.classList.add("row");
            row.style.display = "flex";
            row.style.flexDirection = "row";
            row.style.justifyContent = "center";
            row.style.alignItems = "center";
            row.style.flexWrap = "nowrap";
            board.appendChild(row);
            for (let j = 0; j < @gridSize; j++) {
                let div = document.createElement("div");
                div.classList.add("cell");
                div.style.backgroundColor = "white";
                if (matriz[i][j] == 0) {
                    div.classList.add("empty");
                } else if (matriz[i][j] == -1) {
                    div.classList.add("food");
                    div.innerHTML = "🍎";
                } else {
                    div.classList.add("snake");
                    div.innerHTML = "•";
                    //matriz[i][j] es el número del jugador que tiene la celda.
                    let strId = matriz[i][j].toString();
                    let jugador = jugadores.find(j => j.Id == strId);
                    div.style.backgroundColor = jugador.ColorSerpiente;
                    //div.style.color = jugador.ColorSerpiente;
                }
                div.style.border = "1px solid black";
                row.appendChild(div);
            }
        }
    }

    connection.start().then(() => {
        console.log("connected");
        connection.invoke("PrepararPartida", "@roomId", "@jugadorActual.Nickname")
            .catch(function (err) {
                return console.error(err.toString());
            });
    }).catch(function (err) {
        return console.error(err.toString());
    });

    connection.on("CargarDatosJugador", function () {
        if (jugadores.length == partida.cantidadJugadores) {
            connection.invoke("CreateBoard", "@roomId")
                .catch(function (err) {
                    return console.error(err.toString());
                });
            //crearMatriz();
            console.log("Todos los jugadores han cargado sus datos.");
        }
    });

    connection.on("CargarTablero", function (pMatriz) {
        matriz = pMatriz;
        console.log(matriz);
        mostrarMatriz();
    });

    connection.on("PartidaPreparada", function () {
        console.log("La partida está preparada. Presiona 'u' para iniciar.");
    });

    connection.on("PartidaIniciada", function () {
        console.log("¡La partida ha comenzado!");
        // Agregar lógica para iniciar el juego (por ejemplo, crear serpientes y alimentos).
    });

    document.addEventListener("keydown", function (event) {
        if (event.key == "u") {
            connection.invoke("IniciarPartida", "@roomId")
                .catch(function (err) {
                    return console.error(err.toString());
                });
        }
    });
</script>
