@{
    ViewData["Title"] = "Snake";
    IEnumerable<SnakeGameBackend.Models.Jugador> jugadores = ViewBag.Jugadores;
    int cantidadJugadores = ViewBag.CantidadJugadores;
    SnakeGameBackend.Models.Jugador jugadorActual = ViewBag.Jugador;
    string roomId = ViewBag.RoomId;
    int gridSize = (cantidadJugadores * 10) * (cantidadJugadores * 10);
    int largoObjetivo = 10;
    int minutosPartida = 1;
}

<h1>Juego de la Culebrita</h1>

<div id="main-container">
    <div id="game-board"></div>
    <div id="game-info"></div>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/play").build();

    let matriz = [];

    let partida = {
        cantidadJugadores: @cantidadJugadores,
        roomId: "@roomId"
    };

    let jugadores = [
    @foreach (var jugador in jugadores)
    {
        <text>
            {
                Nickname: "@jugador.Nickname",
                ColorSerpiente: "@jugador.ColorSerpiente",
                Direccion: "W",//W (arriba), A (izquierda), S (abajo), D (derecha))
            },
        </text>
    }
        ];

    function crearMatriz() {
        //crear matriz
        for (let i = 0; i < @gridSize; i++) {
            matriz.push([]);
            for (let j = 0; j < @gridSize; j++) {
                matriz[i].push(0);
            }
        }
        console.log(matriz);
        //colocar comida (una manzana por cada jugador)
        for (let i = 0; i < @cantidadJugadores; i++) {
            let x = Math.floor(Math.random() * @gridSize);
            let y = Math.floor(Math.random() * @gridSize);
            if (matriz[x][y] == 0) {
                matriz[x][y] = 1;
            } else {
                i--;
            }
        }
        //colocar serpientes
        for (let i = 0; i < jugadores.length; i++) {
            let x = Math.floor(Math.random() * @gridSize);
            let y = Math.floor(Math.random() * @gridSize);
            if (matriz[x][y] == 0) {
                matriz[x][y] = 2;
            } else {
                i--;
            }
        }

        // Dibujar matriz
        mostrarMatriz();
    }

    function mostrarMatriz() {
        let board = document.getElementById("game-board");
        board.innerHTML = "";
        for (let i = 0; i < matriz.length; i++) {
            for (let j = 0; j < matriz[i].length; j++) {
                let div = document.createElement("div");
                div.classList.add("cell");
                if (matriz[i][j] == 0) {
                    div.classList.add("empty");
                } else if (matriz[i][j] == 1) {
                    div.classList.add("food");
                    div.innerHTML = "🍎";
                } else {
                    div.classList.add("snake");
                    div.innerHTML = "O"
                    div.style.color 
                }
                div.style.backgroundColor = "white";
                div.style.border = "1px solid black";
                board.appendChild(div);
            }
        }
    }

    connection.start().then(() => {
        console.log("connected");
        connection.invoke("PrepararPartida", "@roomId", "@jugadorActual.Nickname")
            .catch(function (err) {
                return console.error(err.toString());
            });
    }).catch(function (err) {
        return console.error(err.toString());
    });

    connection.on("CargarDatosJugador", function () {
        if (jugadores.length == partida.cantidadJugadores) {
            crearMatriz();
            console.log("Todos los jugadores han cargado sus datos.");
        }
    });

    connection.on("PartidaPreparada", function () {
        console.log("La partida está preparada. Presiona 'u' para iniciar.");
    });

    connection.on("PartidaIniciada", function () {
        console.log("¡La partida ha comenzado!");
        // Agregar lógica para iniciar el juego (por ejemplo, crear serpientes y alimentos).
    });

    document.addEventListener("keydown", function (event) {
        if (event.key == "u") {
            connection.invoke("IniciarPartida", "@roomId")
                .catch(function (err) {
                    return console.error(err.toString());
                });
        }
    });
</script>
