@model string
@{
    ViewBag.Title = "Room";
    SnakeGameBackend.Models.Jugador jugador = ViewBag.Jugador;
    SnakeGameBackend.Models.PartidaEnEspera partida = ViewBag.Partida;
}

<div class="h-100" data-current-color="@jugador.ColorSerpiente">
    <div class="h-100">
        <h2>@jugador.Nickname estás en la sala de espera @partida.CodigoIdentificador</h2>
        <label id="colorSelectorLabel" for="colorSelector" style="font-weight: bolder">Cuando la sala esté llena se podrá seleccionar color.</label>
        <div id="colorSelectorDiv" class="card" style="display: none">
            <select id="colorSelector" class="form-control" value=""></select>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="chat" class="chat">
                    <div id="messages" class="messages"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <input id="message" type="text" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button id="btnSend" class="btn btn-primary">Enviar</button>
                <form id="btnInicioContainer" asp-controller="Play" asp-action="Index">
                    <input type="hidden" name="roomId" value="@partida.CodigoIdentificador" />
                    <button id="btnIniciarPartida" class="btn btn-primary" style="display:none">Iniciar partida</button>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js" integrity="sha512-7rhBJh1om/W5Ztx7WiYOR9h2wlSaTmPyQMoHFtbT/FVNIA12y6S6I8HY9mrBS1uJ3dSU/R3qaSAXsGYuRjMDxg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

    let selectedColor;
    let partida = {
        cantidadJugadores: @partida.CantidadJugadores,
        jugadoresConectados: @partida.JugadoresConectados,
        roomId: "@partida.CodigoIdentificador"
    };

    let jugador = {
        Nickname: "@jugador.Nickname",
        ColorSerpiente: "@jugador.ColorSerpiente"
    };

    let colores = [
    @foreach (var color in ViewBag.Colores)
    {
        @: "@color",
    }
    ];

    connection.start().then(() => {
        console.log("connected");
        connection.invoke("JoinRoom", "@Model", "@jugador.Nickname")
            .catch(function (err) {
                return console.error(err.toString());
            });
    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("colorSelector").addEventListener("change", function () {
        let selectedColor = document.getElementById("colorSelector").value;
        let currentColor = document.querySelector('.h-100').dataset.currentColor;

        if (selectedColor !== currentColor) {
            highlightSelectedOption(selectedColor);
            jugador.ColorSerpiente = selectedColor;
            connection.invoke("ColorSelected", "@Model", "@jugador.Nickname", selectedColor)
                .catch(function (err) {
                    return console.error(err.toString());
                });
        } else {
            console.log("¡Ya has seleccionado ese color!");
        }
    });

    connection.on("JugadoresCompletos", function () {
        console.log(partida);
        if (partida.cantidadJugadores == partida.jugadoresConectados + 1) {
            connection.invoke("ShowColors")
                .catch(function (err) {
                    return console.error(err.toString());
                });
        } else {
            document.getElementById("btnIniciarPartida").style.display = "none";
            partida.jugadoresConectados -= 1;
        }
    });

    document.getElementById("btnSend").addEventListener("click", function (event) {
        let message = document.getElementById("message").value;
        connection.invoke("SendMessage", partida.roomId, jugador.Nickname, message)
            .catch(function (err) {
                return console.error(err.toString());
            });

        document.getElementById("message").value = "";
        event.preventDefault();
    });

    connection.on("ColorOccupied", function (occupiedColor) {
        // Notificar al usuario que el color está ocupado
        alert(`¡El color ${occupiedColor} ya está ocupado! Selecciona otro color.`);
        // Restaurar la opción previamente seleccionada en el combobox
        restoreSelectedOption();
    });

    connection.on("ShowColors", function () {
        console.log("ShowColors");
        //document.getElementById("btnIniciarPartida").style.display = "block";
        document.getElementById("colorSelectorLabel").innerHTML = "Selecciona tu color";
        document.getElementById("colorSelectorDiv").style.display = "block";
        let colorSelector = document.getElementById("colorSelector");
        colores.forEach(color => {btnInicioContainer
            let option = document.createElement("option");
            option.id = `colorOption_${color}`;
            option.value = color;
            option.text = color;
            option.style = `background-color: ${color};`;
            colorSelector.add(option);
        });
    });

    connection.on("ReceiveMessage", function (user, message) {
        let msg = document.createElement("div");
        msg.innerHTML = `<strong>${user}</strong>: ${message}`;
        document.getElementById("messages").appendChild(msg);
    });

    connection.on("AllPlayersReady", function () {
        let btnIniciarPartida = document.getElementById("btnIniciarPartida");
        btnIniciarPartida.style.display = "block";
    });

    document.getElementById("btnIniciarPartida").addEventListener("click", function (event) {
        connection.invoke("RedirectTo", "@Model")
            .catch(function (err) {
                return console.error(err.toString());
            });
    });

    connection.on("RedirectTo", function (location) {
        window.location.href = location;
    });

    window.addEventListener('beforeunload', function () {
        connection.invoke("LeaveRoom", "@Model", "@jugador.Nickname")
            .catch(function (err) {
                return console.error(err.toString());
            });
    });

    document.getElementById("colorSelector").addEventListener("change", function () {
        highlightSelectedOption();
    });

    function highlightSelectedOption() {
        var selectedOption = document.getElementById("colorSelector");
        var selectedColor = selectedOption.options[selectedOption.selectedIndex].value;

        selectedOption.style.backgroundColor = selectedColor;
        selectedOption.style.color = "white";
    }

    connection.on("ColorSelected", function (user, newlySelectedColor, isCurrentUser) {
        let msg = document.createElement("div");
        msg.innerHTML = `<strong style="color: ${newlySelectedColor}">${user}</strong> ha seleccionado el color ${newlySelectedColor}.`;
        document.getElementById("messages").appendChild(msg);

        if (isCurrentUser) {
            hideColorOption(newlySelectedColor);
            showColorOption(selectedColor);
            selectedColor = newlySelectedColor;
        }
    });

    function hideColorOption(color) {
        let id = `colorOption_${color}`;
        let optionToHide = document.getElementById(id);

        if (optionToHide) {
            optionToHide.style.display = "none";
        }
    }

    function showColorOption(color) {
        let id = `colorOption_${color}`;
        let optionToShow = document.getElementById(id);

        if (optionToShow) {
            optionToShow.style.display = "block";
        }
    }

    function restoreSelectedOption() {
        // Restaurar la opción previamente seleccionada en el combobox
        var colorSelector = document.getElementById("colorSelector");
        colorSelector.value = selectedColor;
        highlightSelectedOption(selectedColor);
    }

    // Agrega el código para cerrar la ventana y redirigir al usuario después de 3 minutos
    setTimeout(function () {
        // Redireccionar al usuario al home después de 3 minutos
        window.location.href = "/home";
    }, 180000);  // 180000 milisegundos = 3 minutos


</script>
